$header_height: 110px;
$content_height: 420px;
$gallery_height: 380px;



$text_color1: #FFFFFF;
$text_color2: #333333;
$text_color3: #95989a;
$border_color1: #dc3545;
$bg_color1:  #f6e3e7;

$t_size1: 14px;

$t-weight1:600;


