@import "blocks/const";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/content";
@import "blocks/gallery";
@import "blocks/media_screen";
@import "blocks/mobile_menu";


body{
  margin: 0;
  padding: 0;
  color: $text_color1;
  font-family: "Open Sans";
}
footer{
  height: 200px;
}
.container{
  overflow: hidden;
  padding: 0;
}


